In [1]:
import pandas as pd

In [5]:
malaysia_data = '/home/lionel/Desktop/Malaysia_Crop/training.csv'

In [6]:
malaysia= pd.read_csv(malaysia_data)

In [7]:
malaysia

,B1,B10,B11,B2,B3,B4,B5,B6,B7,landcover
0,0.122302,294.31340,289.91718,0.096028,0.073693,0.050018,0.326577,0.158818,0.064839,0
1,0.127584,294.92730,290.86554,0.100121,0.085449,0.055149,0.380837,0.175744,0.068880,0
2,0.123550,294.46100,290.24756,0.095798,0.072986,0.047406,0.343034,0.144637,0.054489,0
3,0.120793,294.50427,290.22095,0.093911,0.072469,0.047838,0.332497,0.156121,0.061805,0
4,0.121784,294.69790,290.72357,0.095399,0.077658,0.058008,0.313814,0.165054,0.072416,0
...,...,...,...,...,...,...,...,...,...,...
895,0.122860,293.54147,290.26090,0.094873,0.071106,0.046625,0.228866,0.092151,0.035600,2
896,0.121997,294.28840,290.80835,0.095755,0.073869,0.046539,0.300292,0.112775,0.040009,2
897,0.123566,294.26250,290.84640,0.096999,0.079119,0.050053,0.372115,0.149145,0.053075,2
898,0.127154,294.06055,290.47083,0.099558,0.079632,0.050697,0.362246,0.141896,0.050883,2
899,0.127154,294.06055,290.47083,0.099558,0.079632,0.050697,0.362246,0.141896,0.050883,2

In [8]:
malaysia.head()

,B1,B10,B11,B2,B3,B4,B5,B6,B7,landcover
0,0.122302,294.31340,289.91718,0.096028,0.073693,0.050018,0.326577,0.158818,0.064839,0
1,0.127584,294.92730,290.86554,0.100121,0.085449,0.055149,0.380837,0.175744,0.068880,0
2,0.123550,294.46100,290.24756,0.095798,0.072986,0.047406,0.343034,0.144637,0.054489,0
3,0.120793,294.50427,290.22095,0.093911,0.072469,0.047838,0.332497,0.156121,0.061805,0
4,0.121784,294.69790,290.72357,0.095399,0.077658,0.058008,0.313814,0.165054,0.072416,0

In [9]:
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [10]:
# import package
import ee
import geemap
from geemap import ml # note new module within geemap

import pandas as pd
from sklearn import ensemble

In [11]:
geemap.ee_initialize()

In [12]:
feature_names = ['B1','B10','B11', 'B2', 'B3','B4', 'B5', 'B6', 'B7']
label = "landcover"

In [13]:
# get the features and labels into seperate variables
X = malaysia[feature_names]
y = malaysia[label]

In [17]:
n_trees = 100
rf = rf = ensemble.RandomForestClassifier(100).fit(X,y)

In [18]:
# convert the estimator into a list of strings
# this function also works with the ensemble.ExtraTrees estimator
trees =  ml.rf_to_strings(rf,feature_names)

In [19]:
# print the first tree to see the result
print(trees[0])

1) root 539 9999 9999 (2.04330423596095)
  2) B1 <= 0.129961 539 0.6661 2.000000
    4) B10 <= 294.282471 353 0.4979 2.000000
      8) B2 <= 0.100338 194 0.0664 2.000000
        16) B1 <= 0.120417 1 0.0000 0.000000 *
        17) B1 > 0.120417 189 0.0000 2.000000 *
      9) B2 > 0.100338 4 0.0000 0.000000 *
    5) B10 > 294.282471 353 0.4979 2.000000
      10) B2 <= 0.097142 101 0.0000 0.000000 *
      11) B2 > 0.097142 159 0.0150 0.000000
        22) B2 <= 0.097179 1 0.0000 2.000000 *
        23) B2 > 0.097179 58 0.0412 0.000000
          46) B5 <= 0.394987 51 0.0000 0.000000 *
          47) B5 > 0.394987 57 0.0211 0.000000
            94) B10 <= 294.636673 1 0.0000 2.000000 *
            95) B10 > 294.636673 5 0.0000 0.000000 *
  3) B1 > 0.129961 539 0.6661 2.000000
    6) B7 <= 0.066301 171 0.0000 1.000000 *
    7) B7 > 0.066301 186 0.0553 1.000000
      14) B11 <= 291.860062 7 0.0000 0.000000 *
      15) B11 > 291.860062 8 0.0000 1.000000 *

In [20]:
len(trees) == n_trees

True

In [21]:
# create a ee classifier to use with ee objects from the trees
ee_classifier = ml.strings_to_classifier(trees)

In [22]:
# Make a cloud-free Landsat 8 TOA composite (from raw imagery).
l8 = ee.ImageCollection('LANDSAT/LC08/C01/T1');

image = ee.Algorithms.Landsat.simpleComposite(
  collection= l8.filterDate('2018-01-01', '2020-12-31'),
  asFloat= True
)

In [23]:
#classify the image using the classifier we created from the local training
# note: here we select the feature_names from the image that way the classifier knows which bands to use
classified = image.select(feature_names).classify(ee_classifier)

In [24]:
# display results
Map = geemap.Map()
Map.addLayer(image,{"bands": ['B1', 'B10', 'B11'], "min":0.05, "max": 0.55, "gamma":1.5}, 'image')
Map.addLayer(classified, {"min": 0, "max": 2, "palette": ['red', 'green', 'blue']},'classification')

Map

Map(center=[40, -100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Tâ€¦